@import url("./sceneExample.css");
.scene__text{
    text-align: center;
}
.scene__description{
    display: flex;
    text-align: center;
    justify-content: center;
    color: red;
    font-weight: bold;
}