@import url("./sceneExample.css");
.scene__text{
    text-align: center;
}
.description__text{
    display: flex;
    text-align: center;
    justify-content: center;
    color: red;
    font-weight: bold;
}

.decisions{
    display: flex;
    justify-content: center;
}
.decisions__button{
    margin: 0;
    padding: 0;
}

