@import url("./sceneExample.css");
.scene__text{
    text-align: center;
}

.description__context{
    display: none;
}
.description__text{
    display: flex;
    text-align: center;
    justify-content: center;
    color: red;
    font-weight: bold;
    font-size: 100px;
    background-color: transparent;
}

@keyframes down-to-up {
    100% {
      transform: translateY(10px);
    }
}


.decisions{
    display: flex;
    justify-content: center;
}
.decisions__button{
    margin: 0;
    padding: 20px;

    animation: down-to-up .5s infinite alternate-reverse;
}

