.loading{
    background-color: black;
    outline: 3px solid black;
}

.loading__bar{
    color: red;
    width: 0%;
    height: 100px;
    background-color: red;
    transition: width 0.3s;
}

.scene{
    display: none;
}