*{
    margin: 0;
}

.scene{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.scene__title{
    color: white;
}

.description{
    display: block;
    
    margin-bottom: 100px;

    width: 400px;

    color: white;
    font-size: 1rem;
    text-shadow: 3px 2px black;
    width: 100ch;
}

.description__context{
    color: red;
}

.scene__img{
    position: absolute;
    z-index: -1;
    height: 100vh;
}

.decisions__button{
    width: 300px;
    height: 50px;

    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 25px;

    color: white;
    transition: transform .5s;
}

.decisions__button:hover{
    transform: scale(1.2);
}

.life{
    font-size: 3rem;
    color: white;
}

button{
    display: block;
    margin-top: 10px;

}

.toogle-audio__img{
    width: 50px;
}

